doctype html

html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        
        title Todos
    body
        h1 TO DO
        form(action="/todos", method="post")
            input(type="text", name="description")
            button(type="submit")
                |Add
        ul
          li #{todos}
            

