<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
    <h1>TODO LIST</h1>
    <form action="/todos" method="post">
        <input type="text" name="description">
        <button type="submit">Add</button>
    </form>
    <ul>
        {{#todos}}
            <li>
                <form action="/todos/{{_id}}/completed" method="post">
                    {{description}} - {{done}}<button type="submit">Done</button>
                </form>
            </li>
        {{/todos}}
    </ul>

    <h3>DONE</h3>
    <ul>
        {{#doneTodos}}
            <li>
                <form action="/todos/{{_id}}/completed" method="post">
                    {{description}} - {{done}}<button type="submit">return</button>
                </form>
            </li>
        {{/doneTodos}}
    </ul>
</body>